livekit-agents[deepgram,openai,cartesia,silero,elevenlabs,turn-detector]~=1.0
livekit==1.0.19
livekit-plugins-noise-cancellation~=0.2
python-dotenv
langchain-pinecone
langchain-openai
llama-index-core~=0.11.10
llama-index-vector-stores-pinecone~=0.2.0
llama-index-embeddings-openai~=0.2.0
llama-index-llms-openai
pinecone
pymongo