faiss-cpu>=1.13.1
groq>=0.37.1
livekit-agents[assemblyai,cartesia,deepgram,elevenlabs,groq,openai,silero,turn-detector]~=1.0
livekit-plugins-noise-cancellation~=0.2
motor>=3.7.1
optimum[onnxruntime]>=2.0.0
python-dotenv>=1.2.1
requests>=2.32.5
rich>=14.2.0
sentence-transformers>=5.2.0
tiktoken>=0.12.0
mongoengine>=0.29.1
fastapi>=0.100.0
uvicorn[standard]>=0.23.0
pydantic-settings>=2.12.0
phonenumbers>=9.0.24
pytz>=2025.2
livekit>=1.0.19